/* Estilos para la página de Perfil de Usuario */

body {
    font-family: Arial, sans-serif;
    background-color: #F5F5F5;
    margin: 0;
    padding: 0;
}

header {
    background-color: #00843D; /* Verde de la bandera de México */
    color: #FFFFFF;
    text-align: center;
    padding: 10px 0;
}

header h1 {
    font-size: 24px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #FFFFFF;
    text-decoration: none;
}

section.contenido {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

section h2 {
    color: #00843D; /* Verde de la bandera de México */
}

footer {
    background-color: #00843D;
    color: #FFFFFF;
    text-align: center;
    padding: 10px 0;
}
